In [1]:
import os
import pandas as pd

In [2]:
os.listdir()

['analogies_11.csv',
 'analogies_61.csv',
 'classification_13.csv',
 'classification_14.csv',
 'classification_15.csv',
 'classification_16.csv',
 'classification_23.csv',
 'classification_24.csv',
 'classification_25.csv',
 'classification_26.csv',
 'classification_27.csv',
 'classification_28.csv',
 'classification_29.csv',
 'classification_63.csv',
 'combine_csv.ipynb',
 'logical_prob_22.csv',
 'logical_prob_41.csv',
 'logical_prob_52.csv',
 'num_series_13.csv',
 'num_series_14.csv',
 'num_series_23.csv',
 'num_series_24.csv',
 'num_series_34.csv',
 'series_110.csv',
 'series_19.csv',
 'series_21.csv',
 'series_22.csv',
 'series_23.csv',
 'series_24.csv',
 'series_25.csv',
 'state_arg_15.csv',
 'state_arg_18.csv',
 'state_arg_19.csv',
 'state_arg_35.csv',
 'state_arg_36.csv',
 'state_arg_37.csv',
 'state_as_23.csv',
 'state_as_24.csv',
 'state_as_25.csv']

In [3]:
dataframe = []
for filename in os.listdir():
    if filename.endswith(".csv"):
        df = pd.read_csv(filename)
        dataframe.append(df)

combined_df = pd.concat(dataframe, ignore_index=True)
combined_df

,Unnamed: 0,Question,Answer,Solution
0,0,A good way to figure out the relationship in a...,D,An odometer is an instrument used to measure m...
1,1,A good way to figure out the relationship in a...,D,A marathon is a long race and hibernation is a...
2,2,A good way to figure out the relationship in a...,D,"A window is made up of panes, and a book is ma..."
3,3,A good way to figure out the relationship in a...,B,Coffee goes into a cup and soup goes into a bo...
4,4,A good way to figure out the relationship in a...,B,A yard is a larger measure than an inch (a yar...
...,...,...,...,...
182,0,In each question below is given a statement fo...,B,Anthony's place of living is not mentioned in ...
183,1,In each question below is given a statement fo...,E,Since Sachin has asked his brother to collect ...
184,2,In each question below is given a statement fo...,D,The statement talks of a way to keep mosquitoe...
185,3,In each question below is given a statement fo...,E,Since prices of personal computers show the hi...
186,4,In each question below is given a statement fo...,D,The statement talks of most people' and not 'a...

In [4]:
combined_df.to_csv("combined.csv", index=False)