In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("r1.csv")

In [5]:
df

,Prompt,pp,Solution (if any),Category,Meaningful?,collect_date,Replaced deferred?,Injected_Date,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Arrange the words given below in a meaningful ...,B,"It should be 2 4 3 1 5 because, let assume a f...",Logical Sequence of Words,NaN,2024/5/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arrange the words given below in a meaningful ...,B,The upper part of the body /head of the body i...,Logical Sequence of Words,NaN,2024/5/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,In jurisdictions where use of headlights is op...,C,This question asks you to resolve an apparent ...,Logical Reasoning,NaN,2024/5/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Seven piano students—T, U, V, W, X, Y, and Z—a...",C,This question deals with an ordering relations...,Logical Reasoning,NaN,2024/5/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A charitable foundation awards grants in exact...,E,This question deals with the awarding of grant...,Analytical Reasoning,NaN,2024/5/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.iloc[0,0]

'Arrange the words given below in a meaningful sequence.\n\n1. Leaf\n2. Fruit\n3. Stem\n4. Root\n5. Flower\n\n\nA. 3, 4, 5, 1, 2\n\nB. 4, 3, 1, 5, 2\n\nC. 4, 1, 3, 5, 2\n\nD. 4, 3, 1, 2, 5'

In [9]:
content = df.iloc[514,0]

In [10]:
content

'In each of the following questions, five words have been given out of which four are alike in some manner, while the fifth one is different. Choose the word which is different from the rest.\n \n Choose the word which is different from the rest.\n \n A. Daman\n B. Pondicherry\n C. Chandigarh\n D. Lucknow\n E. Lakshadweep\n '

In [18]:
def remove_leading_space(content):
    text = ""
    for i in range(1, len(content)):
        
        prev = content[i - 1]
        if prev == f"\n":
            continue
        else:
            text += content[i]
    text = content[0] + text
    return text

In [28]:
col = df["Prompt"].dropna()
df["Prompt"] = col.apply(remove_leading_space)

In [29]:
df.iloc[514,0] # testing the result

'In each of the following questions, five words have been given out of which four are alike in some manner, while the fifth one is different. Choose the word which is different from the rest.\n\nChoose the word which is different from the rest.\n\nA. Daman\nB. Pondicherry\nC. Chandigarh\nD. Lucknow\nE. Lakshadweep\n'

In [31]:
df.to_csv("R1 test 2.csv")